<!doctype html>
    <head>
    <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <title>home</title>
    </head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}"/>

    <div class="topnav">
        <a class="nav-link active" href="{{ url_for('index')}}">Home</a>
        <a class="nav-link active" href="{{ url_for('live')}}">Live</a>
    </div>
    <div class="content">
       <h1> Welcome to CanSat Groundstation</h1>
       <a href="{{ url_for('live')}}">Live</a>
    </div>

    <div class="footer">

    </div>
</body>
</html>
 